@media (max-width: 1600px) {
	.header {
		&__wrapper {
			&-inner {
				padding: 70px 45px 0 45px;
			}
		}
	}
}

@media (max-width: 1440px) {
	.advantages {
		&__wrapper {
			gap: 90px;
		}
	}
	.footer {
		&__box {
			&-item {
				&__right {
					margin-left: 100px;	
				}
			}
		}
	}
}

@media (max-width: 1360px) {
	.header {
		&__call {
			font-size: 30px;
			&:before {
				top: 3px;
			}
		}
		&__menu {
			height: 250px;
		}
		&__contact {
			top: 105px;
		}
		&__logo {
			a {
				img {
					width: 260px;
				}
			}
		}
		&__content {
			height: 1000px;
		}
		&__wrapper {
			height: 1000px;
			&-item {
				a {
					font-size: 20px;
				}
			}
			&-title {
				img {
					width: 450px;
				}
			}
			&-descr {
				font-size: 26px;
			}
			&-btn {
				width: 330px;
			}
			&-sidepanel {
				bottom: 160px;
				font-size: 20px;
			}
		}
		&__cover {
			height: 1000px;
			&-sidepanel {
				bottom: 160px;
				font-size: 20px;
			}
		}
	}
	.aboutBrand {
		&__descr {
			width: 500px;
		}
	}
	.advantages {
		&__wrapper {
			grid-template-columns: repeat(3, 350px);
			grid-template-rows: repeat(1, 300px);
			gap: 40px;
		}
		&__subtitle {
			font-size: 20px;
		}
		&__descr {
			font-size: 20px;
		}
		&__box {
			margin-top: 150px;
		}
	}
}

@media (max-width: 1200px) {
	.header {
		&__call {
			font-size: 20px;
			&:before {
				top: -2px;
				left: -10px;
			}
		}
		&__menu {
			height: 220px;
			&-inner {
				padding-top: 0;
			}
		}
		&__contact {
			top: 65px;
		}
		&__logo {
			a {
				img {
					width: 240px;
				}
			}
		}
		&__content {
			height: 700px;
		}
		&__wrapper {
			height: 700px;
			&-item {
				a {
					font-size: 16px;
				}
			}
			&-title {
				margin-top: 150px;
				img {
					width: 350px;
				}
			}
			&-descr {
				font-size: 20px;
				margin-top: 30px;
			}
			&-btn {
				width: 260px;
				height: 55px;
				font-size: 20px;
			}
			&-sidepanel {
				top: 225px;
				bottom: auto;
    			right: 10px;
				font-size: 14px;
			}
		}
		&__cover {
			height: 700px;
			&-sidepanel {
				bottom: 145px;
    			left: 10px;
				font-size: 14px;
			}
		}
	}
	.newitems {
		&__title {
			font-size: 80px;
		}
		&__slider {
			width: 700px;
		}
	}
	.aboutBrand {
		&__content {
			margin-left: 40px;
		}
		&__descr {
			width: 420px;
		}
		&__title {
			font-size: 40px;
		}
	}
	.advantages {
		&__wrapper {
			grid-template-columns: repeat(3, 300px);
			grid-template-rows: repeat(1, 300px);
			gap: 40px;
		}
		&__subtitle {
			font-size: 20px;
		}
		&__descr {
			font-size: 20px;
		}
		// &__box {
		// 	display: block;
		// 	&-inner  {
		// 		width: 100%;
		// 	}
		// }
		&__line {
			height: 90px;
			&-subtitle {
				font-size: 55px;
			}
		}
	}
	.footer {
		&__box {
			display: block;
			&-item {
				margin-top: 60px;
				text-align: center;
				margin-left: 0;
				&__right {
					margin-left: 0;	
				}
			}
		}
		&__wrapper {
			display: block;
			margin: 0 auto;
		}
	}
	.menu-anchor {
		&-logo {
			font-size: 18px;
		}
		&__item {
			a {
				font-size: 16px;
			}
		}
	}
}

@media (max-width: 992px) {
	.hamburger {
		display: block;
	}
	.header {
		&__logo {
			a {
				img {
					width: 200px;
				}
			}
		}
		&__menu {
			height: 180px;
		}
		&__contact {
			top: 45px;
			right: 10px;
		}
		&__wrapper {
			&-nav {
				display: none;
			}
			&-title {
				margin-top: 80px;
				img {
					width: 300px;
				}
			}
			&-descr {
				font-size: 16px;
    			margin-top: 20px;
			}
			&-btn {
				width: 230px;
			    height: 50px;
			    font-size: 16px;
			    margin-top: 45px;
			}
			&-sidepanel {
				top: 160px;
			}
			height: 500px;
		}
		&__content {
			height: 500px;
		}
		&__cover {
			height: 500px;
			&-sidepanel {
				bottom: 45px;
			}
		}
	}
	.newitems {
		&__title {
			font-size: 70px;
		}
		&__slider {
			width: 340px;
		}
	}
	.aboutBrand {
		padding: 10px 0 10px 0;
		&__wrapper {
			display: block;
			margin: 0 auto;
			text-align: center;
		}
		&__content {
			margin-left: 0;
		}
		&__descr {
			width: auto;
			text-align: center;
		}
	}
	.advantages {
		&__wrapper {
			grid-template-columns: repeat(1, 380px);
			grid-template-rows: repeat(3, 300px);
		}
		&__subtitle {
			height: auto;
		}
		&__line {
			height: 80px;
			&-subtitle {
				font-size: 40px;
			}
		}
	}
	.menu-anchor {
		&__items {
			display: none;
		}

	}
}

@media (max-width: 768px) {
	.header {
		min-height: 1540px;
		&__contact {
			display: none;
		}
		&__content {
			display: block;
		}
		&__wrapper {
			width: 100%;
			&-img {
				display: block;
			}
			&-sidepanel {
				top: 700px;
			}
			&-sidepanel_second {
				display: block;
			}
		}
		&__cover {
			display: none;
		}
	}
	.newitems {
		&__title {
			font-size: 50px;
			span {
				font-size: 25px;
			}
		}
	}
	.advantages {
		&__box {
			margin-top: 80px;
		}
		&__line {
			height: 55px;
			&-subtitle {
				font-size: 28px;
			}
		}
	}
	.reviews {
		padding-top: 80px;
		&__slider {
			width: 577px;
			.slick-slide {
				width: 577px;
			}
			&__item {
				width: 577px;
			}
		}
	}
}


@media (max-width: 665px) {
	.header {
		min-height: 1460px;
	}
}

@media (max-width: 576px) {
	.header {
		min-height: 1330px;
		&__wrapper {
			&-title {
				img {
					width: 250px;
				}
			}
			&-sidepanel {
				display: none;
			}
			&-sidepanel_second {
				display: none;
			}
			&-inner {
				padding: 40px 0 0 0;
				text-align: center;
			}
			height: 420px;
		}
		&__content {
			height: 420px;
		}
	}
	.newitems {
		&__title {
			font-size: 30px;
			span {
				font-size: 16px;
			}
		}
		&__slider {
			width: 300px;
			.slider-arrow {
				display: none;
			}
			&-item {
				width: 300px;
				img {
					width: 300px;
				}
			}
			.slick-slide {
    			padding: 0;
    		}
		}
	}
	.aboutBrand {
		padding: 10px;
		&__img {
			img {
				width: 300px;
			}
		}
		&__bg {
			width: 300px;
		}
		&__title {
			font-size: 26px;
		}
	}
	.advantages {
		&__wrapper {
			grid-template-columns: repeat(1, 300px);
		}
		&__line {
			height: 35px;
			&-subtitle {
				font-size: 18px;
			}
		}
	}
	.collection {
		&__wrapper {
			grid-row-gap: 10px;
			grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
		}
		.slider-item__inner {
			height: 510px;
			img {
				width: 300px;
			}
		}
		.slider-item__title {
			font-size: 20px;
			margin-top: 0;
		}
	}
	.reviews {
		padding-top: 0;
		&__slider {
			width: 320px;
			.slick-slide {
				width: 320px;
			}
			&__item {
				width: 320px;
			}
		}
	}
	.sand {
		&__form {
			input {
				max-width: 300px;
			}
		}
	}
	.menu {
		width: 70%;
	}
	.cart {
		width: 300px;
		&__form {
			&-input {
				width: 260px;
			}
		}
	}
	.menu-anchor {
		height: 70px;
	}
}

@media (max-width: 520px) {
	.header {
		min-height: 1280px;
	}
}

@media (max-width: 480px) {
	.header {
		min-height: 1200px;
	}
}

@media (max-width: 400px) {
	.header {
		min-height: 1100px;
	}
}

@media (max-width: 320px) {
	.header {
		min-height: 1000px;
	}
}